<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <!--משתמש מכניס את הפרטים האישיים-->

    <div >
        <h1>הכנס פרטים</h1>
         <h2>שם: </h2>
         <input type="text" name="enterName" /><br />
        <h2>טלפון: </h2>
        <input type="tel" name="enterPhone" /><br />
        <h2>עיר: </h2>
        <!--combobox?--><br />
        <h2>כתובת: </h2>
        <input type="text" name="enterAddress"/><br />
        <input type="button" name="updateDetails" value="עדכן"/>
    </div>

</body>
</html>
