<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <!--פרטי שמלה-->

    <div>
        <h1>פרטי שמלה</h1><br />
        <img id="imagedress" /> <br />
        <h2>מידה: </h2>
        <input type="text" id="size" /><br />
        <h2>מחיר: </h2>
        <input type="text" id="price" /><br />
        <h2>טלפון: </h2>
        <input type="text" id="tel" /><br />
        <h2>דואר אלקטרוני: </h2>
        <input type="text" id="mail" />
    </div>

</body>
</html>
