<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>

    <!--משתמש מוסיף שמלה-->

    <div>
        <h1>הוספת שמלה למאגר:</h1><br
        <input type="button" value="העלאת שמלה" name="uplaodDress" onclick="openFile()" /><br />
        <h2>צבע: </h2>
        <!--combobox??--> <br />
        <h2>קטגוריה: </h2>
        <!--combobox??--><br />
        <h2>מידה: </h2>
        <!--combobox??-->
        <h2>מחיר: </h2>
        <input type="number" name="price"/><br />
        <h2>תאור השמלה: </h2>
        <input type="text" name="description" /><br />
        <input type="button" name="upload" value="הוסף שמלה" onclick="addDress()" />
    </div>

</body>
</html>
