<!DOCTYPE html>
    <!--משתמש מוסיף שמלה-->

    <div>
        <h1>הוספת שמלה למאגר:</h1><br
        <input type="file" value="העלאת שמלה" id="uplaodDress" /><br />
        <label for="selectColor">צבע: </label>
        <select id="selectColor"></select><br />
        <label for="selectCategory">קטגוריה: </label>
        <select id="selectCategory"></select><br />
        <label for="selectSize">מידה: </label>
        <select id="selectSize"></select><br />
        <label for="price">מחיר: </label>
        <input type="text" id="price"/><br />
        <label for="description">תאור השמלה: </label>
        <input type="text" id="description" /><br />
        <input type="button" id="upload" value="הוסף שמלה" onclick="addDress()" />
    </div>